*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, sans-serif;
	line-height: 1.4;
	color: #333;
	overflow-x: hidden;
}
.container{
	max-width: 1100px;
	margin: auto;
}
.text-primary{
	color: #3693ff;
	font-size: 20px;
	text-transform: capitalize;
}
.bg-light{
	background: #f4f4f4;
	color: #333;
}
.bg-dark{
	background: black;
	color: white;
}
#navbar{
	display: flex;
	justify-content: space-between;
	background:#333;
	color: #fff;
	padding: 1.5rem 2rem;
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: 3px solid orange;
}
#navbar ul{
	display: flex;
	align-items: center;
	list-style-type: none;
}
#navbar h2{
	font-size: 18px;
}
#navbar h2 a{
	color: #fff;
	text-decoration: none;
}
#navbar li a{
	text-decoration: none;
	color: white;
	padding: 15px 15px;
	font-size: 15px;
	max-width: 0 0.5rem;
	border-radius: 15px;
}
#navbar li a:hover{
	background-color: grey;
	transition: 0.6s;
}
#showcase{
	background-image: url("img/p4.jpg");
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	height: 84.9vh;
}
.showcase-content{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 81px;
	left: 0;
	bottom: 0;
	right: 0;
	background:rgba(0,0,0,0.6);
	color: white;
}
.showcase-content{
	font-size: 15px;
	margin-bottom: 1rem;

}
.showcase-content .btn{
	font-size: 15px;
	padding:5px 2rem;
}
.showcase-content .btn:hover{
	background:  #3693ff;
	color: #fff;
	transition: 0.3s;
	background: 0.3s;
}
.btn{
	color:  #3693ff;
	font-family: cursive;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 2rem;
	border: 1px solid white;
	border-radius: 10px;
	font-weight: bold;
}
#about{
	padding: 5rem 10px;
}
#about h2 ,#services h2{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 3rem;
}
#about  h3{
	font-size: 2rem;
	margin-bottom: 1rem;
}
#about p .lead{
	margin-bottom: 1rem;
}
#about .about-content{
	display: flex;
}
#about .about-text,
#about .about-image{
	flex: 1;
}
#about .about-text{
	text-align:justify;
}
#about .about-image img{
	display: block;
	margin-left: auto;
	width: 75%;
	border-radius: 40%;
	margin-top: 60px;
}
#services{
	padding: 5rem 0;
}
#services h3{
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2rem;
}
#services .boxes{
	display: flex;
}
#services .box{
	background: #fff;
	flex: 1;
	padding: 0 3rem;
	margin: 0 3rem;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #d1d1d1;
	font-size: 1.3rem;

}
#services .box i{
	color: #fff;
	padding: 1rem;
	background: #3693ff;
	border-radius: 50%;
	margin: 0 1rem;
	margin-bottom: 2rem;
}
#testimonials{
	background: url("img/p6.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 170vh;
}
.testimonials-bg{
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding: 5rem 0;
}

#testimonials h2{
	text-align: center;
	font-size: 1rem;
	margin-bottom: 3rem;
	color: #fff;
}
#testimonials .boxes{
	display: flex;
	flex-direction: column;
}
#testimonials .box{
	background: rgba(54,147,255,0.7);
	display: flex;
	padding: 2rem;
	align-items: center;
	border-radius: 15px;
}

#testimonials .box:first-child, #testimonials .box:nth-child(2){
	margin-bottom: 3rem;
}
#testimonials  .box img{
	border-radius: 50%;
	margin-right: 2rem;
	height: 150px;
	width: 150px;
}

#contact h2{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 8rem;
}
#contact h3{
	text-align: center;
	font-size: 2.5rem;
	margin: 3rem 0;
	margin-top: 5rem;
}
#contact .form-box{
	background: #fff;
	padding: 3rem;
	box-shadow: 2px 2px 5px #d1d1d1;
	border-radius: 10px;
}
#contact .form-group{
	margin-bottom: 2rem;
}
#contact .form-group label{
	display: block;
	margin-bottom: 0.5rem;
	width: 80%;
	margin-left: 10%;
	font-size: 1.1rem;
}
#contact .form-group input,
#contact .form-group textarea{
	width: 80%;
	margin-left: 10%;
	font-size: 1.3rem;
	padding: 1rem;
	border: 0.5px solid #333;
	border-radius: 5px;
}
#contact .form-group textarea{
	font-family: arial, sans-serif;

}
#contact .contact-btn{
	width: 80%;
	margin-left: 10%;
	display: inline-block;
	padding: 1rem 3rem;
	border: none;
	border-radius: 5px;
	font-size: 1.5rem;
	background: #3693ff;
	color: #fff;
	margin-bottom: 2rem;
	cursor: pointer;
}
#contact .contact-btn:hover{
	background: #0378ff;
	transition: background 0.3s;
}
#contact .form-container{
	position: relative;
}
#contact .mail-icon{
	font-size: 4rem;
	background: #3693ff;
	color: #fff;
	display: inline-block;
	padding: 1.5rem 2rem;
	border-radius: 50%;
	position: absolute;
	top: -7%;
	left: 45%;
}
footer{
	padding: 2.5rem;

}
footer p{
	text-align: center;

}
















